.icon-fail-c-f:before {
  content: "\e669";
}

.icon-wait-c-f:before {
  content: "\e66a";
}

.icon-info-c-f:before {
  content: "\e66b";
}

.icon-warning-c-f:before {
  content: "\e66c";
}

.icon-success-c-f:before {
  content: "\e66d";
}

.icon-close-c:before {
  content: "\e668";
}

.icon-clear:before {
  content: "\e664";
}

.icon-search:before {
  content: "\e665";
}

.icon-error:before {
  content: "\e666";
}

.icon-success:before {
  content: "\e667";
}

.icon-plus:before {
  content: "\e62c";
}

.icon-shopping:before {
  content: "\e62d";
}

.icon-hamburger-button:before {
  content: "\e62e";
}

.icon-mall-bag:before {
  content: "\e62f";
}

.icon-arrow-up:before {
  content: "\e630";
}

.icon-arrow-down:before {
  content: "\e631";
}

.icon-arrow-right:before {
  content: "\e632";
}

.icon-arrow-left:before {
  content: "\e633";
}

.icon-grid-nine:before {
  content: "\e634";
}

.icon-link:before {
  content: "\e636";
}

.icon-config:before {
  content: "\e637";
}

.icon-wallet:before {
  content: "\e639";
}

.icon-people:before {
  content: "\e63b";
}

.icon-calendar:before {
  content: "\e63c";
}

.icon-scan:before {
  content: "\e63d";
}

.icon-filter:before {
  content: "\e63e";
}

.icon-delete:before {
  content: "\e63f";
}

.icon-up:before {
  content: "\e640";
}

.icon-upload:before {
  content: "\e641";
}

.icon-up-c:before {
  content: "\e642";
}

.icon-bookmark:before {
  content: "\e644";
}

.icon-time:before {
  content: "\e645";
}

.icon-double-right:before {
  content: "\e646";
}

.icon-double-left:before {
  content: "\e647";
}

.icon-lock:before {
  content: "\e648";
}

.icon-me:before {
  content: "\e649";
}

.icon-wifi:before {
  content: "\e64a";
}

.icon-down:before {
  content: "\e64b";
}

.icon-like:before {
  content: "\e64c";
}

.icon-down-c:before {
  content: "\e64d";
}

.icon-bank-card:before {
  content: "\e64e";
}

.icon-info:before {
  content: "\e64f";
}

.icon-application:before {
  content: "\e650";
}

.icon-user:before {
  content: "\e651";
}

.icon-email:before {
  content: "\e652";
}

.icon-right:before {
  content: "\e653";
}

.icon-indent-right:before {
  content: "\e654";
}

.icon-right-c:before {
  content: "\e655";
}

.icon-eyeopen:before {
  content: "\e656";
}

.icon-eyeclose:before {
  content: "\e657";
}

.icon-reload:before {
  content: "\e658";
}

.icon-thumbs-up:before {
  content: "\e659";
}

.icon-left:before {
  content: "\e65a";
}

.icon-indent-left:before {
  content: "\e65b";
}

.icon-left-c:before {
  content: "\e65c";
}

.icon-edit:before {
  content: "\e65d";
}

.icon-layout:before {
  content: "\e65e";
}

.icon-thumbs-down:before {
  content: "\e65f";
}

.icon-phone:before {
  content: "\e660";
}

.icon-return:before {
  content: "\e661";
}

.icon-more:before {
  content: "\e662";
}

.icon-copy:before {
  content: "\e663";
}

.icon-lang:before {
  content: "\e638";
}

.icon-in:before {
  content: "\e601";
}

.icon-instagram:before {
  content: "\e751";
}

.icon-vk:before {
  content: "\e827";
}

.icon-facebook:before {
  content: "\e635";
}

.icon-youtube:before {
  content: "\e673";
}

.icon-twitter:before {
  content: "\e600";
}

